{
  "extends": [
    //"plugin:@eslint/eslint-plugin/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    // Añade tus globales personalizados aquí si los tienes
  },
  "plugins": ["@typescript-eslint", "react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // Aquí puedes configurar tus reglas específicas
  },
  "ignores": ["./build/*", "./node_modules/*"]
}
